{% extends "base.html" %}

{% block content %}
<h2>Acerca de este proyecto</h2>
<p>Este proyecto fue creado como práctica para aprender y desarrollarnos mas con Flask y Jinja2.</p>

<p>Se aplicó herencia de plantillas para poder reutilizar el código común (como el encabezado, la barra de navegación y el pie de página) en todas las páginas del sitio, evitando la repetición de código y facilitando el mantenimiento.</p>

<p>También se implementaron estilos CSS para mejorar la apariencia del sitio, usando colres suaves, degradados y sombras para que se vea más amigable y ordenado.</p>

<p>La estructura del proyecto está organizada en carpetas: <b>templates</b> para los archivos HTML, <b>static</b> para CSS y otros recursos, y un archivo <b>app.py</b> que contiene la lógica de la aplicación.</p>

<p>Este proyecto sirve como base para futuras prácticas de Flask.</p>
{% endblock %}
